@media only screen and (max-width:360px)
{
   body{
       width: 360px;
   }
   .group-3 .box .box-4a{
       text-align: center;
   }
   .container-3 .list ul{
       overflow: auto;
   }
   .container-3 .group-4 .line{
       top: 7%;
       width: 86%;
   }
   .part .container-3{
       width: 331px;
       height: 433px;
       position: absolute;
       left: 2%;
       margin-top: 3px;
       top: 209%;
   }
   .container-3 .list ul{
        overflow: auto;
   }
   .container-3 .group-4 .line{
       top: 7%;
       width: 86%;
   }
   .foot{
       top: 279%;
       width: 100vw;
   }
   .foot p{
       left: 3%;
       font-size: 12px;
   }
   
}